body {
  background-color: #d4e7d6;
  font-family: droid-sans, sans-serif;
}

/* farmer-item
  farmer-header
  logo-container
  farmer-logo
  farmer-info
  farmer-links
  farmer-deal
  certification-icon */

.footer {
  color: #095256;
  background-color: #fedcac;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -16px;
  margin-top: -16px;
  padding: 20px;
  padding-bottom: 20px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
}

.ios-android {
  width: 250px;
}

.footer-footer {
  display: flex;
  justify-content: space-between;
}

.footer-footer-left {
  display: flex;
}

.footer-footer-item {
  margin-right: 25px;
}

.social-icons {
  float: right;
  width: 150px;
}

.farmer-item {
  display: flex;
  border: 2px solid black;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: none;
  border-radius: 5px;
  color: #095256;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
  padding: 25px;
}

.farmer-header {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin: auto; */
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

.logo-container {
  border: 1px solid #095256;
  border-radius: 5px;
  background-color: #ffffff;
  height: 120px;
  width: 120px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.farmer-logo {
  margin: auto;
  width: 100px;
  padding-top: 10px;
  padding-left: 5px;
}

.farmer-info {
  display: block;
  width: 90%;
}

.farmer-description {
  padding: 9px;
  padding-right: 15px;
  padding-bottom: 40px;
  /* width:  */
  /* height: 40%; */
}

.farmer-links {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.farmer-website {
  color: #095256;
  text-decoration: none;
}

.farmer-deal {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.certification-icon {
  height: 64px;
  float: right;
}

.styled-tab {
  width: 25px;
  height: 50px;
  margin-top: -25px;
}

.info-button {
  width: 45%;
  height: 60px;
  border: none;
  border-radius: 5px;
  color: #095256;
  background-color: #fedcac;
  font-size: 20px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.info-button:active {
  box-shadow: none;
}

.farmer-footer {
  margin-top: 60px;
  margin-bottom: 60px;
}

.farmer-footer-button {
  width: 25%;
  height: 80px;
  border: none;
  border-radius: 15px;
  color: #095256;
  background-color: #fedcac;
  font-size: 20px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.farmer-footer:active {
  box-shadow: none;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
